<!doctype html>
<html>
  <head>
    <title>unsourced.org extension</title>

    <link rel="stylesheet" href="style.css" type="text/css">
<!--
    <style>
      body {
        min-width:357px;
        overflow-x:hidden;
      }
    </style>
    <script src="/js/lib/ashe.js"></script>
    <script src="/js/lib/parseuri.js"></script>
    <script src="/js/popup.js"></script>
-->
</head>
  <body class="ext-popup">



<!-- template to placeholder content, on pages we're not active on -->
<script id="popup-inactive-tmpl" type="text/x-jquery-tmpl">
<p>
This is the <a href="http://unsourced.org">unsourced.org</a> extension.
</p>
<p>
When viewing news articles, information about them will appear here.
</p>

</script>



<script id="popup-warning-picker-tmpl" type="text/x-jquery-tmpl">
      <h3>add a warning label</h3>
        {% for l in labels %}    
          <a data-labelid="{{l.id}}" class="label-pickable label" href="#"><img class="label-icon" src={{l.icon_url}} /><div class="label-head">{{l.prettyname}}</div></a>
        {% endfor %}
      </ul>
</script>



<!-- template to display details about a page we're tracking -->
<script id="popup-details-tmpl" type="text/x-jquery-tmpl">
{% if isDebugSet %}
  <pre>
  {{getDebugTxt}}
  </pre>
</pre>
{% endif %}






<!-- show results -->
{% if wasArticleFound %}

    {% for label in lookupResults.labels %}    
<div class="label">
<img class="label-icon" src="{{label.icon_url}}"/><div class="label-bod"><div class="label-head">WARNING</div>{{label.description}}</div>
</div>
    {% endfor %}

    <div><a class="btn add-warning" href="#">Add a warning label</a></div>

    <br/>

    {% if lookupResults.sources.length %} 
    <h3>Sources</h3>
    <ul class="srclist">
    {% for src in lookupResults.sources %}
      <li class="src src-{{src.kind}}">
        <div class="src-info">
        <span class="src-link">{{src|sourcelink}}</span>
        {% if src.publication %}
          {% if src.pubdate %}
            <span class="publication">{{src.publication}}</span>, {{src.pubdate}}
          {% else %}
            <span class="publication">{{src.publication}}</span>
          {% endif %}
        {% endif %}
        {% if src.doi %}
          <span class="doi">doi:<a target="_blank" href="http://dx.doi.org/{{src.doi}}">{{src.doi}}</a></span>
        {% endif %}
        </div>
      </li>
    {% endfor %}
    </ul>
    {% endif %}

  {% if lookupResults.needs_sourcing %}
    <p class="notice notice-uhoh">This article is still missing some sources.</p>
    <a target="_blank" class="btn" href="{{lookupResults.unsourced_url}}">Source it</a>
  {% endif %}


  {% if lookupResults.unsourced_url %}
  <a target="_blank" href="{{lookupResults.unsourced_url}}">See this article's page on unsourced.org</a>
  {% endif %}


{% else %}

  <!-- article not found on unsourced (yet) - show what we know so far -->

  {% if isLookupPending %}
   <p><img src="busy.gif" /> Please wait - checking with unsourced.org... </p>
  {% endif %}
  {% if isLookupError %}
    <p class="notice">
      Sorry - there was a problem checking this article on unsourced.org...<br/>
      <a class="start-manual-lookup" href="#">try again</a>
    </p>
  {% endif %}

  {% if contentReady %}
    {% if isLookupNone %}
      <!-- no lookup was attempted. give the option to manually start lookup -->
      <p>Is this page a news article?</p>
      <a class="btn start-manual-lookup" href="#">Look it up on unsourced.org</a>
      <p>Is there something wrong with it?</p>
      <a class="btn add-warning" href="#">Add a warning label</a><br/>
    {% endif %}
  {% else %}
    <p><img src="busy.gif" /> Waiting for page to load... </p>
  {% endif %}

  {% if isLookupReady %}
    <!-- lookup worked, but article wasn't found on unsourced -->
    <p class="notice">Unsourced.org has no information on this article.</p>
    {% if pageDetails %}
      {% if pageDetails.isDefinitelyNotArticle %}
      {% else %}
        <!-- page could be an article... -->
        {% if pageDetails.indicatorsFound %}
          <p class="notice notice-uhoh">This article looks like it might be missing some sources<br/>
          (it contains phrases like "scientists say..." "a report out today" etc...)<br/>
          </p>
          <a class="btn btn-major add-warning" href="#">Add a warning label</a><br/>
        {% else %}
          <p>Think there are problems with this article?</p>
          <a class="btn add-warning" href="#">Add a warning label</a><br/>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}


{% endif %}
</script>


<!--
  <header class="ext-popup-header"> 
    <h3><img src="logo.png" height="30" alt="Unsourced logo" /></h3>
  </header>
-->
  <div id="content" class="ext-popup-content">
  </div>
  <footer>
  </footer>
  </body>
</html>

