/* styles for stuff injected into web pages */
/* note: bulk of styling handled as inline style attrs to bypass precedence problems */

#unsrced {
    position: fixed;
    top: 32px;
    left: 32px;
    z-index: 100;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
}


/* to animate labels upon mouseover */
/* !important needed to work with inline styles */
#unsrced .unsrced-label:hover {
  transform: translate3d(0,0,0) rotate(0deg) scale(1.25) !important;
  -webkit-transform: translate3d(0,0,0) rotate(0deg) scale(1.25) !important;
  -moz-transform: translate3d(0,0,0) rotate(0deg) scale(1.25) !important;
}

